
<div class= "container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center"><%= image_tag "hearts.png", alt: "heart", id: "heart" %>  Accomodations
    <%= image_tag "hearts.png", alt: "heart", id: "heart" %></h1>
      </div>
    </div>
 <hr class= "style-seven">


<div class="row">
    <div class="col-md-6">
      <%= image_tag "holidayinn.jpg", atl: 'holiday', id: 'holiday', class: "hampton_pic"  %>
   
    </div>

    <div class="col-md-6">
        <p class= "events text-center"> Holiday Inn Express Auburn Hills-North (Great Lakes Crossing Area)</p>
        <p class= "story text-center">3990 Baldwin Road Auburn Hills, MI 48326</p>
        <p class= "story text-center">248-322-7000</p>
    
        <p class= "story">    We have a group rate at the Holiday Inn Express Auburn Hills at $129/night. They have two room types.  One room has two queen beds, the other has a king bed with a fold-out sofa bed.  The rates are ONLY available before 6/16/2016 and if we have a minimum of 10 rooms booked!  Book by calling 1-800-HOLIDAY, calling them directly, or by using the code FMW at <%= link_to "www.ihg.com", "http://ihg.com", :target => "_blank" %>!</p>
        <br>
        <p class= "story">  The Holiday Inn and the Hampton Inn share a parking lot will serve as our shuttle pick-up/drop-off spot!  We have a complimentary shuttle arranged to and from the venue fom 5pm-1am (12:30am last trip from venue)!   </p>
      </div>
      </div>
      <hr>
 <div class="row">
    <div class="col-md-6">
        <p class= "events text-center"> Hampton Inn Detroit/Auburn Hills-North (Great Lakes Crossing Area)</p>
        <p class= "story text-center">3988 Baldwin Road, Auburn Hills, Michigan, 48326</p>
        <p class= "story text-center">248-874-4902</p>
        <p class= "story">    We also have a group rate at the Hampton Inn Auburn Hills at $129/night.  Same room set-up: one room has two queen beds and the other has a king bed with a fold-out sofa bed. They do have several other parties in, so we recommend booking sooner than later.  The rates are ONLY available before 6/30/2016.  Book by calling 1-800-HAMPTON, by calling them directly, or by using the code MFW at <%= link_to "www.hamptoninn.com", "http://hamptoninn.com", :target => "_blank" %>!  </p>
        <br>
        <p class= "story">  The Holiday Inn and the Hampton Inn share a parking lot will serve as our shuttle pick-up/drop-off spot!  We have a complimentary shuttle arranged to and from the venue fom 5pm-1am (12:30am last trip from venue)!   </p>
      </div>
    <div class="col-md-6">
    <%= image_tag "hamptoninn2.jpg", atl: 'hampton', id: 'hampton', class: "hampton_pic"  %>
    </div>
    
    </div>      
           <hr class= "style-seven">
      </div> <!-- container close -->
      <br>


      