<div class= "container">

     <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center"><span class= "glyphicon glyphicon-heart"></span>    photos of us!
                </h1>
            </div>
    </div>

     <hr class= "style-seven">

    <div class="row">
        <div class="col-md-3 portfolio-item">
            <%= link_to image_tag "galagreen.jpg", class: "photos" %>
        </div>
          <div class="col-md-3 portfolio-item">
            <%= link_to image_tag "boat.jpg", class: " photos" %>
        </div>
        <div class="col-md-3 portfolio-item">
        	<%= link_to image_tag "us.jpg", class: "photos" %>
        </div>
        <div class="col-md-3 portfolio-item">
           <%= link_to image_tag  "wedding.jpg", class: "photos" %>
        </div>
    </div>
         <hr class= "style-seven">
    <div class="row">
       <div class="col-md-4 portfolio-item">
            <%= link_to image_tag "bar2.jpg", class: "photos_row_1" %>
        </div>
      
        <div class="col-md-4 portfolio-item">
            <%= image_tag "tigers_all.jpg", class: "photos_row" %>
        </div>
        <div class="col-md-4 portfolio-item">
            <%= image_tag "river.jpg", class: "photos_row_2" %>
        </div>
    </div>
    <br>
         <hr class= "style-seven">
    <!-- /.row -->

        <!-- Projects Row  tall-->
    <div class="row">
    	  <div class="col-md-3 portfolio-item">
            <%= link_to image_tag "canyon_1.jpeg", class: "photos-tall" %>	
        </div>
         <div class="col-md-3 portfolio-item">
           <%= link_to image_tag "engagement", class: "photos-tall" %>
        </div>
          <div class="col-md-3 portfolio-item">
            <%= link_to image_tag "chriscat_edit.jpg", class: "photos-tall" %>
        </div>
        <div class="col-md-3 portfolio-item">
            <%= link_to image_tag "waterfall_edit.jpg", class: "photos-tall" %>
        </div>
       <br>
    </div>
         <hr class= "style-seven">
         <br>

    <!-- <div class= "row">
        <div class= "col-md-3 portfolio-item">
            <%#= link_to image_tag "hawaiiocean.jpg", class: "photos-tall" %>
        </div>
        <div class= "col-md-3 portfolio-item"> 
            <%#= link_to image_tag "gala_1.jpg", class: "photos-tall" %>

    </div>
    </div>

 -->


    </div>	
        <!-- /.row -->




