<html>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
    <h1 class="text-center"><%= image_tag "hearts.png", alt: "heart", id: "heart" %>  Our Story <%= image_tag "hearts.png", alt: "heart", id: "heart" %></h1>
    </div>
  </div>

 <hr class= "style-seven">
 
  <div class= "row">
    <div class="col-lg-12">
    <div class= "stories"> 
        <p class= "story">&nbsp;&nbsp;&nbsp;    Denise and Chris went to Middle School and High School together in Southeastern Michigan.  During those six years they swapped elementary buddies, had a handful of classes together, and participated in the same school activities.  However, they never truly got to know each other beyond the familiar face and the occassional high-school-party-run-in.</p>
        <p class= "story">     Luckily, that didn't matter.  Here's a glimpse of what they remember of those years...</p>
        <p class= "comment"><em>    (Chris has requested that we note, and mostly for HIS own future reference, that he remembers details better than Denise.  Denise is wondering why if his memory is so good that we have to document it for HIS reference.  )</em></p>
    </div>
  </div>
</div>

<div class= "row">
 <div class="col-md-6">
  <br>
    <%= image_tag 'FotorCreated.jpg', alt: '7th', id: "jr", class: "seventh img-responsive"  %>
  <br>
    <%= image_tag 'senioryear1.jpg', id: "jr", class: "seventh img-responsive" %>
    </div>
 
    <div class="col-md-6">
      <div class= "stories"> 
    
      <!--   <h3><strong>the early years:</strong></h3> -->
     <!--      <p class= "story">&nbsp;&nbsp;&nbsp;    Denise and Chris went to Middle School and High School together in Southeastern Michigan.  During those six years they swapped elementary buddies, had a handful of classes together, and participated in the same school activities.  However, they never truly got to know each other beyond the familiar face and the occassional high-school-party-run-in.</p>
          <p class= "story">     Luckily, that didn't matter.  Here's a glimpse of what they remember of those years...</p> -->
        <!--   <p class= "comment"><em>    (Chris has requested that we note, and mostly for HIS own future reference, that he remembers details better than Denise.  Denise is wondering why if his memory is so good that we have to document it for HIS reference.  )</em></p> -->
          <p class= "story">
          Chris recalls meeting in Mrs. Walsh's 7th grade math class.  The students were assigned seats according to their birthday and Denise sat directly in front of him.  </p>
          <p class ="comment" ><em>(Chris would like to make it clear that Denise is OLDER.  Denise would like to share  that it is only by 4 days<!-- , however, she is prepared to hear about it for the rest of their lives -->.) </em></p>
          <p class= "story"> Chris remembers that everyday Denise would turn around and ask him for a piece of gum.  Denise remembers Chris always shared! </p>
          <p class ="comment" ><em>(Chris later admits that his strategy of supply was not by accident; he didn't like to disappoint.  Denise appreciated this quality then and does so now.)</em><p>
          <p class= "story">Denise and Chris had band class together; Chris banged on things in the back of the room, but since Denise played the flute, she was in the front. </p>
          <p class= "comment"><em>(Denise remembers being jealous that there was more euchre-playing in the percussion section than instrument-playing. Chris has no comment on his memory of this accusation.)</em> </p>
          <p class = "story">Chris remembers that Denise was a cheerleader.  Denise corrects Chris- he was close, but it was actually the poms/dance team. </p>
          <p class= "comment"><em> (Chris says, in all fairness, he just remembers that she wore a cheerleading outfit.  Denise is surprised he remembers since the outfit was blue and yellow NOT green and white.)</em></p>
      </div>
    </div>
  </div>
        <!-- /.row -->
 <hr>
      <!-- Project Two -->
  <div class="row">
    <div class="col-md-6">
          <p class= "events text-center"> Denise </p>
          <h4><CENTER>(aka "the traveling gypsy")<CENTER></h4>
          <p class= "story">  After high school, Denise spent a year taking classes at Oakland University until she decided that exciting adventures awaited elsewhere. She hopped on an Amtrack train to Chicago with a few suitcases and the hopes of starting her dance career.   Once there she taught for suburban dance studios while training for local contemporary, modern, and house jazz choreographers.  She also got her first taste of international travel by touring as a Chicago Honey Bear; performing at U.S armed force service bases.     In 2003, she was given the opportunity to dance for Celebrity Cruise Lines and quench her thirst for travel.  Between performance contracts and a stint as the associate choreographer/production manager, she spent several years sailing the high seas visiting ports all over the world. 
          In 2007 Denise moved to NYC.  Once there, she mainly focused on performing locally, but made a few exceptions (rehearsing casts in Hawaii and performing in Abu Dhabi, UAE).  Some experiences you can find on her performance resume include dancing for the Metropolitan Opera, the dre.dance contemporary company, Target Industrials, TimeLife infomercials, "One Ride" the musical, Broadway Bares, and New York Musical Theatre Festival shows.           </p>
        </div>
    <div class="col-md-6">
      <%= image_tag 'parade.jpg', alt: 'parade', id: "parade", class: "parade img-responsive"  %>
      <br>
      <%= image_tag 'dancy.jpg', alt: 'dance', id: "parade", class: "parade img-responsive" %>
     </div>
  </div>
        <!-- /.row -->
        <hr>
        <!-- Project Three -->
  <div class="row">
    <div class="col-md-6">
      <%= image_tag 'motorcyclechris.jpg', alt: 'motorcycle', id: "motorcycle", class: "cycle img-responsive"  %>
      <br>
       <%= image_tag 'chrisdad.jpg', alt: 'chris2', id: "motorcycle", class: "cycle img-responsive"  %>
    </div>
    <div class="col-md-6">
        <p class= "events text-center"> Chris </p>
        <h4><CENTER>(aka "captain america")<CENTER></h4>
        <p class= "story"> After High School, Chris attended Michigan State University and graduated in 2004 with a Bachelor's degree in Pre-Law/Political Science.  Chris then received his Juris Doctor from Thomas M. Cooley Law School in Lansing, Michigan in 2007.  Prior to graduating from law school, Chris moved to Macon, Georgia to complete an externship for school.  After graduation, Chris stayed in Macon while he studied for the Georgia Bar exam. When he received his results, Chris moved to Tiger, Georgia where he started his job as an Assistant District Attorney for the Enotah Judicial Circuit in January of 2008.  In July 2009, Chris took and passed the Illinois Bar, and still maintains his license there.  In June of 2012, after four and a half years, Chris left his job in the mountains and took a job in Atlanta, Georgia as a Senior Assistant District Attorney in the Fulton County District Attorneys Office.  Chris was made the North Fulton Community Prosecutor in September of 2013 where he got to spend his days meeting with government officials and interacting with the community, while still occasionally finding his way into the court room.  Chris recently left the DA's Office after being recruited by the Georgia Lottery.  When Chris is not working, he enjoys working out, riding his motorcycle, spending time with friends and anything to do with Michigan State or Detroit sports teams. </p>
      </div>
    </div>
        <!-- /.row -->
        <hr>
        <!-- Project Four -->
  <div class="row">
    <div class="col-md-6">
        <p class= "events text-center">Reconnecting</p>
            <!--     <h4>(the Gypsy and Captain America collide...)</h4> -->
        <p class = "story">  Denise joined facebook after a gig overseas as a way to keep in contact with some of the cast members.  Shortly after, Chris reached out and they began annually sending check-in messages and birthday-wishes to each other   </p>
        <p class= "story"> In November 2014, Denise's friend, Kaitlin, shared that she was going to be relocating from Brooklyn to Atlanta.  Denise offered to reach out to a couple of people she knew that lived there and sent Chris a message. Very quickly, text messaging evolved into phone calls and then into plans for future visits.</p>
        <p class= "story"> The following month, they both went to visit their families in Michigan for Christmas and had their first date in Milford, Michigan. Eight months later, after alternating monthly visits, Denise packed up, said goodbye to NYC, and moved to Georgia. </p>
      </div>
    <div class="col-md-6">
      <%= image_tag 'collage.jpg', alt: 'collage', id: "collage", class: "parade img-responsive"  %>
    </div>
  </div>
        <!-- /.row -->
        <hr>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag 'catcollage1.jpg', alt: 'catcollage', id: "catcollage", class: "collage img-responsive"  %>
    </div>
    <div class="col-md-6">
        <p class= "events text-center"> The Kittens </p>
           <p class= "story text-center">
            These furry balls of love were rescue kittens that Chris brought home the night he proposed. 
          </p>
        <h4><strong>Star</strong></h4>

        <p class= "story">

        <ul>
          <li class="cat">Fav Foods: Cucumbers, carrots, bell peppers, & bamboo leaves</li>
          <li class="cat">Loves: Heights, belly rubs, and shoelaces</li>
          <li class="cat"> Hisses at: Triumph when she is eating cucumbers</li>
          <li class="cat"> Tricks: Fakes apathy and sometimes looks like Yoda.</li>    
          <li class="cat">Most Eccentric Trait: Enjoys watching us cook, but must simultaneously be held </li> 
        </ul>
        </p> 
                 
        <h4><strong>Triumph</strong></h4>
        <p class= "story"> 
        <ul>
          <li class="cat">Fav Foods: Bacon & treats </li>
          <li class="cat">Loves: Splashing water in the bathtub, and spooning- but only after waking us up at 3am by walking on us or dropping toy mice on our faces</li>
          <li class="cat">Hisses at: Banana peels</li>
          <li class="cat">Tricks: Plays fetch, or as we call it "go get the mouse" and lies down for treats</li>
          <li class="cat">Most Eccentric Trait: likes to lie on or play with dirty gym clothes</li>
          </ul>
        </p>
    </div>
  </div>
            <br>
<hr class= "style-seven">
            
</div>

</html>